

@media screen and (max-width: 990px) {



	#yes-locations {
		width: 50%;
		text-align: center;
	}

	#no-locations {
		width: 50%;
		text-align: center;
	}

	#yes-locationsHeading {
		font-size: 1.2em;
		font-weight: 600;
		letter-spacing: 1.6px;
		color: #00A2F0;


	}

	#no-locationsHeading {
		font-size: 1.2em;
		font-weight: 600;
		letter-spacing: 1.6px;
		color: #00A2F0;


	}

	.followInfo {
		color: #4E616D;
		font-size: 0.72em;
		font-weight: 600;
		letter-spacing: 1px;
		margin-bottom: 0.9em;
	}

}
