@media screen and (max-width: 494px) {
	
	#mainDiv {
		width: 3.6em;
	}


	#userImg {
		position: absolute;
		top: 40px;
		left: 150px;
	}

	#userInfo {
		position: absolute;
		top: 54px;
		left: 30px;
	}

	#userNames {
		position: absolute;
		top: 200px;
		left: 170px;
	}


}