	

@media screen and (max-width: 361px) {
	
	.btn-space {
		margin: 0 3px;
	}

	.btn {
		padding: 4.7px 10.58px;
		font-size: 1rem;
		letter-spacing: 0.9px;

	}

	#currentDisplay {
		position: absolute;
		top: 20px;
		left: 30px;
	}		



}